/* @theme theme */
@import "default";

section.title h1{
  font-size: 64px;
}

section.slides h1 {
    font-size: 42px;
    position:absolute;
    left: 50px;
    top: 30px;
}

section.slides h2 {
  font-size: 40px;
}

section.slides h3 {
  font-size: 32px;
}

section.slides p, li {
  font-size: 24pt;
}

section.slides img {
  margin: auto;
  display: block;
}